{% extends 'web/web.base.html.twig' %}

{% block content %}
    <div>
        Данный сайт содержит информацию о турнирах, проводящихся внутри компаний Drom, Farpost, VlRu.
        Здесь вы можете ознакомиться с командами, их участниками и их статистикой на протяжении всех игр и турниров.
    </div>
{% endblock %}